.about {
  display: flex;
  align-items: flex-start;
  max-width: 1260px;
  margin: 0 auto;
  padding: 60px 20px 100px;

  &::before {
    content: url("../img/2022.png");
    margin-right: 100px;
    width: 150px;
    height: 320px;
  }

  @include vp-1023 {
    padding: 35px 50px 80px 46px;

    &::before {
      margin-top: 5px;
      margin-right: 30px;
    }
  }

  @include vp-767 {
    padding: 22px 25px 80px;

    &::before {
      display: none;
    }
  }
}

.about__title {
  margin-bottom: 10px;

  @include vp-1023 {
    margin-bottom: 12px;
  }
}

.about__text-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 22px;
  margin-bottom: 40px;

  @include vp-1023 {
    row-gap: 18px;
    margin-bottom: 16px;
  }

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.about__text-wrapper_closed .about__text_hidden {
  display: none;
}

.about__text-wrapper_opened p,
.about__text-wrapper_opened span {
  display: block;
}

.about__text-wrapper_no-js p,
.about__text-wrapper_no-js span,
.about__text-wrapper_no-js .about__text_hidden {
  display: block;
}

.about__text-wrapper_no-js ~ .about__button {
  display: none;
}

.about__button {
  width: 180px;
  justify-content: center;
  padding: 14px 12px;
  color: $color-deep-sky-blue;
  background-color: #f8fdff;
  border: solid 1px $color-deep-sky-blue;

  @include vp-767 {
    max-width: 160px;
    padding: 8px 15px 10px;
    font-size: 14px;
    line-height: 16px;
  }
}
