.button {
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 10px 15px;
  color: $color-alice-blue;
  background-color: $color-black-pearl;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  cursor: pointer;
  transition: $trans-default;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
