.feedback {
  position: relative;
  background-color: $color-deep-sky-blue;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-top: 840px solid #026693;
    border-right: 966px solid transparent;
  }

  @include vp-1023 {
    &::before {
      display: none;
    }
  }
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  max-width: 1260px;
  min-height: 840px;
  margin: 0 auto;
  padding: 165px 35px 100px 20px;
  color: $color-default-white;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    top: 246px;
    left: 20px;
    display: block;
    height: 285px;
    width: 510px;
    background: url("../img/paper-airplane.png") left no-repeat;
    z-index: -1;
  }

  @include vp-1023 {
    min-height: 580px;
    padding: 45px 50px 109px;
    align-items: stretch;

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    padding: 47px 25px 88px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 585px;
  align-items: flex-start;
  padding-left: 5px;
  column-gap: 30px;

  @include vp-1023 {
    max-width: 100%;
    padding-left: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.feedback__title {
  grid-column: 1 / 3;
  margin-bottom: 12px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__text {
  grid-column: 1 / 3;
  margin-bottom: 33px;
  padding-left: 5px;

  @include vp-1023 {
    margin-bottom: 25px;
    padding-left: 0;
  }

  @include vp-767 {
    margin-bottom: 34px;
    grid-column: 1 / 2;
  }
}

.feedback__field {
  margin-bottom: 20px;
  margin-left: 5px;

  @include vp-1023 {
    margin-left: 0;
  }
}

.feedback__field_textarea {
  grid-column: 1 / 3;

  @include vp-767 {
    grid-column: 1 / 2;
  }
}

.feedback__field_textarea textarea {
  @include vp-1023 {
    padding: 32px 15px 20px;
  }

  @include vp-767 {
    padding-top: 23px;
    min-height: 180px;
  }
}

.feedback__form-button {
  margin-top: 9px;
  margin-left: 5px;
  max-width: 265px;

  @include vp-1023 {
    margin-top: 8px;
    margin-left: 0;
  }

  @include vp-767 {
    max-width: 100%;
    margin-top: 3px;
  }
}

.feedback__control {
  margin-top: 24px;
  padding-left: 15px;

  @include vp-1023 {
    margin-top: 17px;
    padding-left: 0;
  }

  @include vp-767 {
    padding-left: 5px;
    margin-top: 25px;
  }
}
