.footer {
  background-color: $color-black-pearl;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 350px) minmax(min-content, 470px) minmax(
      min-content,
      335px
    );
  gap: 30px;
  max-width: 1260px;
  margin: 0 auto;
  padding: 50px 15px 40px;
  color: $color-default-white;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
    column-gap: 30px;
    padding: 50px 45px 63px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 35px 0;
    row-gap: 0;
  }
}

.footer__item {
  @include vp-767 {
    position: relative;
    border-bottom: solid 1px #f8fdff70;
  }
}

.footer__item_logo {
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    grid-column: 1 / 3;
    flex-direction: row;
    justify-content: space-between;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 22px;
  }
}

.footer__logo {
  width: 215px;
  height: 55px;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    padding-right: 15px;
  }
}

.footer__social {
  padding-left: 15px;

  @include vp-1023 {
    padding-top: 10px;
    padding-left: 0;
    width: 100%;
    max-width: 430px;
  }

  @include vp-767 {
    max-width: none;
    padding-top: 20px;
  }
}

.footer__social-list {
  @include vp-1023 {
    justify-content: end;
  }

  @include vp-767 {
    justify-content: center;
  }
}

.footer__item_nav {
  @include vp-1023 {
    padding-left: 5px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.footer__item-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 6px 0 20px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 2px 0 22px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.footer__item_address p {
  font-family: $ff-pt-mono;
  line-height: 22px;
  color: #ffffff70;
  margin: 0 0 10px;

  @include vp-1023 {
    margin: 0 0 6px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 17px;
  }
}

.footer__tel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__tel-item {
  margin-bottom: 5px;
}

.footer__tel-item a {
  font-family: $ff-pt-mono;
  color: #ffffff70;
  transition: color $trans-default;

  &:hover,
  &:focus {
    color: $color-default-white;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }
}
