.footer-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  column-gap: 30px;
  row-gap: 5px;
}

.footer-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-nav__item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-bottom: 5px;
  }
}

.footer-nav__item a {
  font-family: $ff-pt-mono;
  line-height: 22px;
  color: #ffffff70;
  transition: color $trans-default;

  &:hover,
  &:focus {
    color: $color-default-white;
  }
}
