.main-screen {
  width: 100%;
  background: url("../img/main-screen-bg.jpg") center bottom no-repeat;
  background-size: cover;
  background-color: #011c40;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-screen-bg.jpg");
  }
}

.main-screen__wrapper {
  max-width: 1260px;
  min-height: 880px;
  margin: 0 auto;
  padding: 185px 377px 35px 125px;

  @include vp-1023 {
    min-height: 640px;
    padding: 80px 50px 35px;
  }

  @include vp-767 {
    min-height: 560px;
    padding: 80px 25px 35px;
  }
}

.main-screen__title {
  margin: 0 0 40px;
  color: #F2F5F7;

  @include vp-1023 {
    margin-bottom: 20px;
  }
}

.main-screen__text {
  font-family: 'PT Mono';
  font-size: 22px;
  line-height: 155%;
  max-width: 685px;
  margin: 0 0 40px;
  color: #F2F5F7;

  @include vp-1023 {
    margin-bottom: 50px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 60px;
  }
}

.main-screen__button {
  font-size: 18px;
  line-height: 21px;
  padding: 15px 25px 18px;
  background-color: #00B2FF;
  border: none;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
    margin-left: 0;
    padding: 10px 30px;
  }
}
